.container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.img {
    outline:rgb(236, 8, 0);

}

.about {
    margin: 25px;
}