@font-face {
    font-family: 'Hurmit Nerd Font';
    src: url('../assets/fonts/HurmitNerdFont-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

:root {
    --yellow: #f7c81f;
    --red: #e4280f;
    --blue: #2fb0b9;
    --green: #2bfaa1;
    --orange: #dd7f12;
    --background: #272727;
    --background-darker: rgb(19, 19, 19);
    --text: rgb(239, 239, 239);
    --svg-filter: brightness(0) invert(1);
}

[data-theme="light"] {
    --background: #f9f8f8;
    --text: rgb(16, 16, 16);
    --svg-filter: brightness(0);
}

html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    accent-color: var(--red);
    background-color: var(--background);
    color: var(--text);
}

::selection {
    background-color: var(--red);
    color: var(--text);
}
   
/* legacy support for older browser bc why not? */
::-moz-selection {
    background-color: var(--red);
    color: var(--text);
}

.icon {
    color: var(--text);
}

/* dynamic change to background color for svg */
img[src$=".svg"] {
    filter: var(--svg-filter);
}

a {
    color: var(--red);
    text-decoration: wavy var(--red);
}

.option {
    background-color: var(--green);
    width: 128px;
    height: 64px;
    color: var(--text);
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    border-radius: 2px;
    transition: 250ms all;
    border: none;
    outline: none;
}

.option:hover {
    filter: brightness(75%);
}

.option::before {
    background-image: url(../assets/icons/regular/check.svg);
    content: "";
    display: inline-flex; /* "before" is making the element inline by default. We make it inline-flex to make him affect from width and height and also center it. */
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-size: contain;
    background-repeat: no-repeat;
}

.false { /* Opposite of Option */
    background-color: var(--red);
    width: 128px;
    height: 64px;
    color: var(--text);
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    border-radius: 2px;
    transition: 250ms all;
    border: none;
    outline: none;
}

.false:hover {
    filter: brightness(75%);
}

.false::before {
    background-image: url(../assets/icons/regular/x.svg);
    content: "";
    display: inline-flex; /* "before" is making the element inline by default. We make it inline-flex to make him affect from width and height and also center it. */
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-size: contain;
    background-repeat: no-repeat;
}

.option-input {
    outline: none;
    background-color: var(--background-darker);
    color: var(--text);
    border: 2px solid var(--red);
    padding: 24px;
    margin: 6px;
    border-radius: 3px;
    width: 256px;
    height: 32px;
    
}